﻿/*
    Written by: Luis Miguel Soto Sánchez (@LuisMiguelSS)
*/
@font-face {
    font-family: HomizioNova;
    src: url(../font/HomizioNova-light.ttf);
}
:root {
    --primary-color: #03A9F4;
}

/*
    General
*/
nav {
    background-color: var(--primary-color);
}
.materialize {
    color: #E66D75;
    font-family: HomizioNova;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.slider .indicators .indicator-item.active {
    background-color: var(--primary-color);
}

/*
    Main Container Structure
*/
#about ul li:before {
    content: "-";
    padding: 7px;
}
.row .input-field.col {
    float: none !important;
    margin-left: auto;
    margin-right: auto;
}

/*
    Validation erros container
*/
.materialert {
    background-color: #c62828;
    color: #fff;
    position: relative;
    min-width: 150px;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all 0.1s linear;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.materialert .close-alert {
    -webkit-appearance: none;
    border: 0;
    cursor: pointer;
    color: inherit;
    background: 0 0;
    font-size: 22px;
    line-height: 1;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
    filter: alpha(opacity=40);
    margin-bottom: -5px;
    position: absolute;
    top: 16px;
    right: 5px;
}

/*
    Re-style labels
*/
.input-field input:focus + label {
    color: var(--primary-color) !important;
}
.row .input-field input:focus {
    border-bottom: 1px solid var(--primary-color) !important;
    box-shadow: 0 1px 0 0 var(--primary-color) !important;
}